<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402694438233-sqs1e9ghnbhe661bj8pn2pa1b7trkqrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402694438233-sqs1e9ghnbhe661bj8pn2pa1b7trkqrd</string>
	<key>API_KEY</key>
	<string>AIzaSyB37MburTmodETagurwqA5SqIh_T7px0xw</string>
	<key>GCM_SENDER_ID</key>
	<string>402694438233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectBoxvinil</string>
	<key>PROJECT_ID</key>
	<string>box-vinil-619c3</string>
	<key>STORAGE_BUCKET</key>
	<string>box-vinil-619c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402694438233:ios:b0e1e858502d0d89c8a048</string>
</dict>
</plist>